* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.ttf);
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.header {
  margin-top: 4em;
  margin-left: 0;
  margin-right: 30em;
}

.logo__header {  
  margin-right: 50em;
  margin-left: 30em;   
}

.logo__header img {
    margin-bottom: -10px;
}

.text__logo {
  padding: 5px 0 5px 14px;   
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text__logo__orange {  
  color: #f25822;  
}

.nav__menu {  
  display: flex;
  justify-content: center;
  gap: 4.5em;
  text-decoration: none;
  text-wrap: nowrap;   
}

.link__menu {
  list-style-type: none;
  padding: 1em 0;
  font-size: 1.4em;
  color: #000;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link__menu #Home {
  color: #f25822;
  font-family: Gilroy-Bold;
}

.top__content {
  padding-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5em;
}

.top__info {
  margin-left: 8em;
}

.text__h2 {  
  color: #000;
  font-size: 6em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.2em;
  width: 640px;
}

.text__top__main {
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-wrap: wrap;
  width: 470px;
  margin-top: 17px;
  margin-bottom: 3em;
}

.top__btns {
  font-family: Gilroy-Bold;
  margin-bottom: 16em;
}

.top__btn__on {
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);  
}

.top__btn__off {
  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: #fff;
  margin-left: 5em;
  flex-wrap: nowrap;
}

.image__top__content img{
  margin-right: 10em;
  margin-bottom: 8em;
}

.top__logos {
  margin: 10em 0;  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8em;
}
